* {
	font-family: 'Roboto', sans-serif;
}
body {
	margin: 0;
}

h1 {
	text-align: center;
}

.content {
	padding: 50px 100px 50px 100px;
}

footer {
	background-color: black;
	color: white;
	font-size: 14px; 
	padding: 20px 50px 50px 50px;
	margin: none;
	position: fixed;
	bottom: 0;
	width: 100%;
}

h6 {
	font-size: 20px;
	margin: 0px;
}

a {
	color: white;
}

#about {
	display: inline-block;
	width: 300px;
}

#career {
	display: inline-block;
	width: 300px;
}

#follow {
	display: inline-block;
	width: 300px;
}

#contact {
	display: inline-block;
	width: 300px;
}


